.navbar{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Black Ops One', cursive;
    color: white;
    display: flex;

}

.title{
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.title-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.title-text-2{
    margin-left: 50px;
}

.search-bar{
    width: 70%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.error-message{
    position: absolute;
    top: 10px;
    left: 25%;
    width: 200px;
    height: 50px;
    background-color: red;
}

.search-form{
    display: none;
}

.inner-search-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: large;
    overflow: hidden;
}

.navlink{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

#form-input{
    width: 300px;
    height: 35px;
    border: transparent;
    outline: none;
    border-radius: 30px;
    text-align: center;
    font-size: large;
    font-family: 'Black Ops One', cursive;
    color: rgba(0, 127, 255,0.9);
    text-align: center;
}


@media screen and (min-width:678px) and (max-width:830px){
    .navlink{
        margin-right: 10px;
    }
    .inner-search-container{
        width: 100%;
        height: 100%;
    }
    

    .search-form{
        display: flex;
        justify-content: space-around;
    }

    #form-button{
        display: none;
    }
    
    
    
    
}
@media screen and (min-width:830px) {
    .navlink{
        margin-right: 0px;
    }
    .inner-search-container{
        width: 80%;
        height: 100%;
        justify-content: space-evenly;
    }
    
    
    
    .search-bar-form{
        width: 45%;
        /* background-color: red; */
    }
    
    .search-form{
        display: flex;
        justify-content: space-around;
    }
    
    #form-button{
        border: transparent;
        width: 25%;
        border-radius: 5px;
        margin-left: 10px;
        color:rgba(0, 127, 255,0.9);
        font-family: 'Black Ops One', cursive;
        font-size: medium;
    }
}